:root {
  --primary: #273746;
  --secondary: #F1C40F;
  --white: white;
}

.innerCardControls {
  display: inline;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.innerCardControls .ctrlbtn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.innerCardControls .ctrlbtn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.ctrlbtn {
color: var(--secondary) ;
background-color: transparent;
border: none;
transition: all 0.3s ease;
font-size: 1.25rem;
padding: 5px;
margin: 0;
}

.ctrlbtn:hover {
color: var(--secondary);
cursor: pointer;
}
